<div class="about_us_box">
	<div class="font36 about_us_top_bk"> <img src="images/about_us_page/clock.jpg" width="50" height="56" alt="img" class="about_us_top_img1"> <img src="images/about_us_page/car.jpg" width="46" height="29" alt="img" class="about_us_top_img2"> <img src="images/about_us_page/battery.jpg" width="47" height="36" alt="img" class="about_us_top_img3"> <img src="images/about_us_page/documents.jpg" width="47" height="43" alt="img" class="about_us_top_img4">
		<div class="about_us_top_txt1">Быстрая доставка автомобиля</div>
		<div class="about_us_top_txt2">Современные модели</div>
		<div class="about_us_top_txt3">Дополнительные устройства</div>
		<div class="about_us_top_txt4">100% Гарантии</div>
	</div>
	<div class="font37 about_us_bk1"> <img class="about_us_bk1_img" src="" width="184" height="218" alt="">
		<h1></h1>
		<div class="about_us_bk1_txt"></div>
	</div>
	<div class="c_b"></div>
	<div class="font38 txt_al_c">Наши сотрудники</div>
	<div class="bk_sldr_news_details bk_feedback_customer">
		<div class="about_us_sldr_content scroll_sldr">
			<div>
				<ul>
					<li class="repeat_js">
						<a href="#" onclick="return false;"><img class="about_us_sldr" src="" alt="img">
						</a>
					</li>
				</ul>
			</div>
			<div class="about_us_sldr_l_btn disabled scroll_sldr_left_btn"></div>
			<div class="about_us_sldr_r_btn scroll_sldr_right_btn"></div>
		</div>
	</div>
	<div class="font37">
		<p> Общий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании oбщий текст о компании . </p>
	</div>
</div>