<div class="auto_box">
	<div class="font7 news_title">Chevrolet Cruze</div>
	<div class="auto_page_bk1">
		<div class="auto_pg_bk1_gall">
			<a class="auto_pg_middle_img_a auto_pg_middle_img_a_hide repeat_js" rel="lightbox[auto_pg_car]" href="" target="_blank" title=""> <img src="" width="252" height="113" alt=""> </a>
		</div>
		<div class="auto_sldr_content scroll_sldr">
			<div>
				<ul>
					<li class="repeat_js">
						<a href="#" onclick="return false;"><img class="auto_sldr" src="" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div class="auto_sldr_l_btn disabled scroll_sldr_left_btn">&#8249;</div>
			<div class="auto_sldr_r_btn scroll_sldr_right_btn">&#8250;</div>
		</div>
		<div class="auto_page_calendar rent_pg_calendar_container0">
			<div class="calendar_news_archive_title">Архив новостей</div>
			<div class="auto_pg_calendar_container"></div>
		</div>
	</div>
	<div class="auto_pg_text_bk"> <span class="font7">Аренда в сутки:</span> <span class="font26">5000 руб.</span>
		<div class="auto_pg_text_bk1 font27"> Механическое транспортное средство, используемое обычно для перевозки по дорогам людей или грузов или для буксировки по дорогам транспортных средств, используемых для перевозки людей или грузов. Этот термин охватывает троллейбусы, то есть нерельсовые транспортные средства, соединённые с электрическим проводом; он не охватывает такие транспортные средства, как сельскохозяйственные тракторы, использование которых для перевозки людей или грузов является лишь вспомогательной функцией.транспортные средства, соединённые с электрическим проводом; он не охватывает такие транспортные средства, как сельскохозяйственные тракторы, использование которых для перевозки людей или грузов является лишь вспомогательной функцией. </div> <a class="add_to_favorites font28" href="#" onclick="return false;"><i></i><span>Добавить в избранное</span></a> <a class="auto_pg_m1 rent_pg_submit_a btn_to_order gradient btn_send" href="#/rent"><span>Арендовать</span></a> </div>
	<div class="c_b"></div>
	<div class="font29 similar_offers_title">Похожие авто</div>
	<div class="similar_offers_bk">
		<div class="bk_specials_sub repeat_js">
			<a class="auto_pg_similar_img_a" rel="lightbox[similar_offers_1]" href="" target="_blank" title=""> <img src="" alt="img"> </a>
			<div class="font21 bk_name_specials">Chevrolet Cruze</div>
			<div class="stock_page_txt2 font23">Класс</div>
			<div class="stock_page_txt3 font24"></div>
			<div class="stock_page_txt2 font23">Тип кузова</div>
			<div class="stock_page_txt3 font24"></div>
			<div class="stock_page_txt2 font23">Кол-во мест</div>
			<div class="stock_page_txt3 font24"></div>
			<div class="stock_page_txt2 font23">Стоимость</div>
			<div class="stock_page_txt3 font24"></div>
			<div class="c_b"></div>
			<div class="bk_btn_book_car">
				<div class="grey_line1_btn_book_car"></div>
				<div class="grey_line2_btn_book_car"></div> <a href="#" class="similar_offers_btn font22 gradient"><span>Заказать авто</span></a> </div>
		</div>
		<div class="c_b"></div>
	</div>
	<div class="txt_al_r">
		<a href="javascript: history.back();" class="font_a1 auto_pg_back_a">
			< Назад к результатам</a> <a href="javascript: alert('В разработке');" class="font_a1 auto_pg_forward_a">Больше похожих></a> </div>
</div>