<div class="contact_box">
	<div class="bk_contact">
		<div class="font15 mb1"> Контакты:</div>
		<div class="font16 mb2">Звоните нам с 9:00 до 21:00 в рабочее время <a href="tel:+74957177087" class="tel font10">+7 (495) 717-70-87</a>
		</div>
		<div class="font15"> Электронная почта:</div>
		<div class="font16 mb2"><a class="font16 mailto" href="mailto:info@yourcar.by">info@yourcar.by</a>
		</div>
		<div class="font15"> Skype:</div>
		<div class="font16 mb2">carskype11212</div>
		<div class="font15 mb3"><strong>Написать сообщение</strong>
		</div>
		<div class="font16 s_name">Имя:</div>
		<input class="font16 input1 gradient" name="" type="text">
		<div class="c_b ht1"></div>
		<div class="font16 s_name">E-mail:</div>
		<input class="font16 input1 gradient" name="" type="text">
		<div class="c_b ht2"></div>
		<div class="font16 mb5">Текст сообщения:</div>
	</div>
	<div class="div_map">
		<iframe class="iframe_map" src="https://maps.google.com.ua/maps?hl=uk&amp;q=%D0%93.+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA,+%D1%83%D0%BB.+%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4%D0%B0+%D0%91%D0%B5%D0%B4%D1%8B+45&amp;gbv=2&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4%D0%B0+%D0%91%D0%B5%D0%B4%D1%8B+45,+%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%91%D1%96%D0%BB%D0%BE%D1%80%D1%83%D1%81%D1%8C&amp;ll=53.942545,27.59738&amp;spn=0.010496,0.01929&amp;t=m&amp;z=14&amp;output=embed"></iframe>
		<br /> <small><a href="https://maps.google.com.ua/maps?hl=uk&amp;q=%D0%93.+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA,+%D1%83%D0%BB.+%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4%D0%B0+%D0%91%D0%B5%D0%B4%D1%8B+45&amp;gbv=2&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4%D0%B0+%D0%91%D0%B5%D0%B4%D1%8B+45,+%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%91%D1%96%D0%BB%D0%BE%D1%80%D1%83%D1%81%D1%8C&amp;ll=53.942545,27.59738&amp;spn=0.010496,0.01929&amp;t=m&amp;z=14&amp;source=embed"  class="a_map" target="_blank">Просмотреть увеличенную карту</a></small> </div>
	<div class="c_b"></div>
	<div class="txt_al_r">
		<textarea class="textarea1 font16 gradient" name="" cols="65" rows="5"></textarea>
		<br>
		<br> <a class="btn_to_order gradient btn_send" href="#"><span>Отправить</span></a> </div>
</div>