<div class="filter_box">
	<div class="bk_find_auto_sub">
		<div class="font7 bk_find_auto_title">Поиск автомобиля</div>
		<div class="font8">
			<div class="bk_city_receiving"> Город получения:
				<br>
				<div class="div_select_hidden">
					<select class="select" name="">
						<option disabled selected>Выберите</option>
						<option value="Bobruisk">Бобруйск</option>
						<option value="Vitebsk">Витебск</option>
						<option value="Gomel">Гомель</option>
						<option value="Minsk">Минск</option>
						<option value="Mogilev">Могилёв</option>
						<option value="Mozir">Мозырь</option>
						<option value="Orsha">Орша</option>
					</select>
				</div>
			</div>
			<div class="date_of_receipt"> С:
				<br>
				<div class="drop_down_calendar">
					<input class="input_calendar" name="" type="text" value="27.10.14" onFocus="this.blur();">
					<div class="calendar_field_of_response">
						<div class="calendar_icon"></div>
					</div>
					<div class="c_b"></div>
					<div class="btn_drop_down_calendar"></div>
					<div class="calendar_container"></div>
				</div>
			</div>
			<div class="c_b"></div>
		</div>
		<div class="font8">
			<div class="city_return">Город возврата:
				<br>
				<div class="div_select_hidden">
					<select class="select" name="">
						<option disabled selected>Выберите</option>
						<option value="Bobruisk">Бобруйск</option>
						<option value="Vitebsk">Витебск</option>
						<option value="Gomel">Гомель</option>
						<option value="Minsk">Минск</option>
						<option value="Mogilev">Могилёв</option>
						<option value="Mozir">Мозырь</option>
						<option value="Orsha">Орша</option>
					</select>
				</div>
			</div>
			<div class="date_of_return"> До:
				<br>
				<div class="drop_down_calendar">
					<input class="input_calendar" name="" type="text" value="27.10.14" onFocus="this.blur();">
					<div class="calendar_field_of_response">
						<div class="calendar_icon"></div>
					</div>
					<div class="c_b"></div>
					<div class="btn_drop_down_calendar"></div>
					<div class="calendar_container"></div>
				</div>
			</div>
			<div class="c_b"></div>
		</div>
		<div class="font8 bk_price_for_rent"> Цена аренды в сутки (руб.):
			<br>
			<br>
			<div class="area_of_slider">
				<input class="price_round" name="" type="hidden" value="100">
				<input class="min_price" name="" type="hidden" value="50000">
				<input class="min_price_current" name="" type="hidden" value="60000">
				<input class="max_price_current" name="" type="hidden" value="90000">
				<input class="max_price" name="" type="hidden" value="100000">
				<div class="area_of_range">
					<div class="range"></div>
					<div class="region_actions_sl region_actions_left_sl">
						<div class="bk_sl_value_covers">
							<div class="slider_value font_slider_value">5000</div>
						</div>
						<div class="lighting_area"></div>
						<div class="sl"></div>
					</div>
					<div class="region_actions_sl region_actions_right_sl">
						<div class="bk_sl_value_covers">
							<div class="slider_value font_slider_value">123000</div>
						</div>
						<div class="lighting_area"></div>
						<div class="sl"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bk_to_order"> <a class="btn_to_order gradient" href="#/results"><span>Сделать заказ</span></a> </div>
	</div>
	<div class="bk_other"> <a class="a_see_all_cars" href="#">просмотреть все автомобили компании</a>
		<br>
		<br>
		<br>
		<h1>Полезные статьи</h1>
		<h2>Выбор семейного авто</h2>
		<p class="font_p_1">Начало текста статьи начало текста Начало текста статьи начало текста Начало текста статьи начало текста</p>
		<div class="gismeteo_informer_ajax_fl"></div>
	</div>
</div>