<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ua/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-UwUaUP0yaJBK4D" class="gsInformer" style="width:290px;height:193px">
  <div class="gsIContent">
    <div id="cityLink"> <a href="http://www.gismeteo.ua/weather-minsk-4248/" target="_blank">Погода в Минске</a> </div>
    <div class="gsLinks">
      <table>
        <tr>
          <td><div class="leftCol"> <a href="http://www.gismeteo.ua" target="_blank"> <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.ua/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" /> <span>Gismeteo</span> </a> </div>
            <div class="rightCol"> <a href="http://www.gismeteo.ua/weather-minsk-4248/14-days/" target="_blank">Погода на 2 недели</a> </div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.ua/ajax/getInformer/?hash=UwUaUP0yaJBK4D" type="text/javascript"></script> 
<!-- Gismeteo informer END --> 
