<div class="home_box">
	<div class="bk_sldr">
		<ul class="sldr">
			<li> <img class="sldr_layer-10 bk_sL_img" src="images/home_page/slides/slide.jpg" alt="img1">
				<div class="sldr_layer-15 bk_sL1_text2">готовь сани летом</div>
				<div class="sldr_layer-16 bk_sL1_text1">Скидка 15% на аренду зимой</div>
				<div class="sldr_layer-14 bk_sL1_text6"><a href="#/stock">Узнать больше</a>
				</div>
			</li>
			<li> <img class="sldr_layer-10 bk_sL_img" src="images/home_page/slides/slide_2.jpg" alt="img1">
				<div class="sldr_layer-14 bk_sL1_text5">Какой-то текст.</div>
				<div class="sldr_layer-15 bk_sL1_text4">Какой-то текст.</div>
				<div class="sldr_layer-16 bk_sL1_text3">Какой-то текст.</div>
				<div class="sldr_layer-13 bk_sL1_text7"><a href="#/stock">Узнать больше</a>
				</div>
			</li>
			<li> <img class="sldr_layer-10 bk_sL_img" src="images/home_page/slides/slide_3.jpg" alt="img1">
				<div class="sldr_layer-15 bk_sL1_text2">готовь сани летом</div>
				<div class="sldr_layer-16 bk_sL1_text1">Скидка 15% на аренду зимой</div>
				<div class="sldr_layer-14 bk_sL1_text6"><a href="#/stock">Узнать больше</a>
				</div>
			</li>
			<li> <img class="sldr_layer-10 bk_sL_img" src="images/home_page/slides/slide_4.jpg" alt="img1">
				<div class="sldr_layer-14 bk_sL1_text5">Какой-то текст.</div>
				<div class="sldr_layer-15 bk_sL1_text4">Какой-то текст.</div>
				<div class="sldr_layer-16 bk_sL1_text3">Какой-то текст.</div>
				<div class="sldr_layer-13 bk_sL1_text7"><a href="#/stock">Узнать больше</a>
				</div>
			</li>
			<li> <img class="sldr_layer-10 bk_sL_img" src="images/home_page/slides/slide_5.jpg" alt="img1">
				<div class="sldr_layer-15 bk_sL1_text2">готовь сани летом</div>
				<div class="sldr_layer-16 bk_sL1_text1">Скидка 15% на аренду зимой</div>
				<div class="sldr_layer-14 bk_sL1_text6"><a href="#/stock">Узнать больше</a>
				</div>
			</li>
		</ul>
		<div class="c_b"></div>
		<div class="btn_sldr_left"></div>
		<div class="btn_sldr_right"></div>
		<div class="bk_serial_number">
			<div class="gradient sldr_list_item"></div>
		</div>
	</div>
	<div class="bk_feedback_customer">
		<div class="scroll_sldr">
			<div>
				<ul>
					<li class="repeat_js">
						<a href="" class="dspl_inl_bk flt_l feedback_customer_a"> <img class="img_client" src="" width="102" height="127" alt="">
							<div class="block_text_client">
								<div class="font_name_client"></div>
								<div class="font_text_client"></div>
								<div class="font_text_client_date"></div>
							</div>
						</a>
						<div class="c_b"></div>
					</li>
				</ul>
			</div>
			<div class="disabled scroll_sldr_left_btn"></div>
			<div class="scroll_sldr_right_btn"></div>
		</div>
	</div>
	<h3>Аренда автомобилей в Минске, прокат автомобилей в Минске</h3>
	<div class="p1">
		<p> Автопрокат в Минске в последнее время стремительно набирает популярность среди не только гостей столицы, но и жителей города. Наличие автомобиля Минске является повседневной необходимостью – без него вы вряд ли сможете добраться в нужное вам место с минимальными затратами времени. Впрочем, наша повседневная жизнь полна самых различных событий – некоторые из них способны вызвать определённые неудобства. Прокат автомобилей в Москве позволит решить ваши проблемы быстро и удобно. </p>
		<p> Итак, давайте представим себе такую ситуацию – ваш личный автомобиль получил серьёзные повреждения или же полностью вышел из строя. А, быть может, вы приехали в Минске в рабочую командировку или же по каким-то личным делам, и вам предстоит ежедневно преодолевать значительные расстояния в пределах столицы на общественном транспорте, поскольку личного авто у вас нет. Выход из подобных ситуаций есть – это автопрокат в Минске без водителя на выгодных условиях в нашей компании. Всё, что для этого нужно, - позвонить нам по контактному телефону или же оставить соответствующую online-заявку. Автопрокат в Минске – быстрый и удобный способ получить необходимое транспортное средство. </p>
		<p> Наша компания может предложить своим клиентам прокат машин в Минске на самых выгодных условиях, чтобы они из потенциальных перешли в разряд действующих. Вашему вниманию предлагается аренда автомобилей в Минске различного класса комфорта (эконом, средний и бизнес-класс) производства 15 ведущих мировых компаний. Полный список доступных моделей и стоимость, в которую вам обойдется аренда автомобилей в Минске, вы можете просмотреть в соответствующих подразделах нашего сайта. </p>
	</div>
</div>