<div class="news_box">
	<div class="font7 news_title">Новости</div>
	<div class="news_box1">
		<div class="bk_news repeat_js">
			<a rel="lightbox[news1]" href="images/news_page/big/1.jpg" target="_blank" title="news1"> <img src="images/news_page/small/1.jpg" alt="img1"> </a>
			<h4>Новые семейные автомобили 2014</h4>
			<div class="font1 news_date">27.10.2014</div>
			<div class="font1 news_text">Начало текста новости. Начало текста новости начало. Начало текста новости. Начало текста новости начало. Начало текста новости.Начало текста новости начало. Начало текста новости. Начало текста новости начало. Начало текста новости.Начало текста новости начало. Начало текста новости...</div>
			<div class="bk_read_more"><a class="a_read_more" href="#/news_details">Читать дальше...</a>
			</div>
			<div class="c_b"></div>
		</div>
	</div>
	<div class="sldr_news scroll_sldr">
		<div>
			<ul class="sldr_news_inside">
				<li class="repeat_js"> <a class="a_num" href="#" onClick="return false;">1</a> </li>
			</ul>
		</div>
		<a class="a_back" href="#" onClick="return false;"></a>
		<a class="a_forward" href="#" onClick="return false;"></a>
		<div class="sldr_news_l disabled scroll_sldr_left_btn"></div>
		<div class="sldr_news_r scroll_sldr_right_btn"></div>
	</div>
	<div class="c_b"></div>
</div>