<div class="news_details_box">
	<div class="font7 news_title_details">Новые семейные автомобили 2014</div>
	<div class="font1 news_date">Дата публикации: <span class="date">27.10.2014</span>
	</div>
	<div class="bk_news_details">
		<div class="flt_l">
			<a class="repeat_js news_details_pg_img_a" rel="lightbox[news_details]" href="" target="_blank" title=""> <img src="" alt=""> </a>
		</div>
		<div class="news_text">
			<p>Полный текст новости полный Полный текст новости полный и текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости </p>
			<p>текст новости полный Полный текст новости полный Полный и новости полный Полный текст новости полный Полный текст новости текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости</p>
			<p>Полный текст новости полный Полный текст новости полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости полный Полный текст новости Полный текст.</p>
		</div>
		<div class="c_b"></div>
	</div>
	<div class="font7 news_title">Читайте также:</div>
	<div class="bk_sldr_news_details bk_feedback_customer">
		<div class="content_sldr_news_details scroll_sldr">
			<div>
				<ul>
					<li class="repeat_js"> <span class="font11"></span>
						<br>
						<a href="#" class="bk_sldr_news_details_sub"> <img src="" width="165" height="125" alt="">
							<div class="font12 txt_al_r"></div>
						</a>
						<div class="c_b"></div>
					</li>
				</ul>
			</div>
			<div class="btn_sldr_3_l disabled scroll_sldr_left_btn"></div>
			<div class="btn_sldr_3_r scroll_sldr_right_btn"></div>
		</div>
	</div>
	<div class="bk_news_details_back"><a class="font_a_back" href="javascript: history.back();">Назад</a>
	</div>
</div>