<div class="personal_area_favorites_box">
	<div class="font13 history_page_menu"> <a href="#/personal_area_settings" class="hstr_pg_menu_item"><span>Настройки</span></a> <a href="#/personal_area_orders" class="hstr_pg_menu_item"><span>Заказы <strong>(2)</strong></span></a> <a href="#/personal_area_history" class="hstr_pg_menu_item"><span>История</span></a> <a href="#/personal_area_favorites" class="hstr_pg_menu_item hstr_pg_menu_item_active"><span>Избранное</span></a> </div>
	<div class="c_b"></div>
	<div class="order_history_title font14">Избранные предложения</div>
	<div class="selected_offers_sub_bk repeat_js display_by_this">
		<a class="selected_offers_img_a" rel="lightbox[personal_area_favorites]" href="images/personal_area_favorites/big/1.jpg" target="_blank" title=""> <img src="images/personal_area_favorites/small/1.jpg" alt="img"> </a>
		<div class="selected_offers_sub_txt">
			<div class="font30">Chevrolet Cruze</div>
			<div class="price_for_rent_bk1"><span class="font31">Цена аренды в сутки:</span> <span class="font32">5000 руб.</span>
			</div>
			<div class="personal_area_favorites_txt font33">Краткая информация об автомобиле: место, год выпуска,пробег,расход и тд и тддкраткая информация об автомобиле: место, год выпуска,пробег,расход и тд </div>
			<div class="rent_btn_bk"> <a href="#" class="btn_rent gradient"><span>Арендовать</span></a> </div>
		</div>
		<div class="c_b"></div>
	</div>
	<div class="personal_area_favorites_num_pg_bk">
		<div class="dspl_inl_bk sldr_num_bk0">
			<div class="personal_area_favorites_sldr sldr_news scroll_sldr">
				<div>
					<ul>
						<li class="repeat_js"> <a class="a_num" href="#" onClick="return false;">1</a> </li>
					</ul>
				</div>
				<a class="a_back" href="#" onClick="return false;"></a>
				<a class="a_forward" href="#" onClick="return false;"></a>
				<div class="sldr_news_l disabled scroll_sldr_left_btn"></div>
				<div class="sldr_news_r scroll_sldr_right_btn"></div>
			</div>
			<div class="display_by font34">Показать по:</div> <a class="display_by_a_active display_by_a" href="#" onClick="return false;">3</a> <a class="display_by_a" href="#" onClick="return false;">5</a> <a class="display_by_a" href="#" onClick="return false;">10</a> <a class="display_by_a" href="#" onClick="return false;">все</a>
			<div class="c_b"></div>
		</div>
	</div>
</div>