<div class="personal_area_history_box">
	<div class="font13 history_page_menu"> <a href="#/personal_area_settings" class="hstr_pg_menu_item"><span>Настройки</span></a> <a href="#/personal_area_orders" class="hstr_pg_menu_item"><span>Заказы <strong>(2)</strong></span></a> <a href="#/personal_area_history" class="hstr_pg_menu_item hstr_pg_menu_item_active"><span>История</span></a> <a href="#/personal_area_favorites" class="hstr_pg_menu_item"><span>Избранное</span></a> </div>
	<div class="c_b"></div>
	<div class="order_history_title font14">История заказов</div>
	<table class="table_1 font13">
		<tr class="tbl1_tr_h0">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tbl1_tr_h">
			<td>Заказ №679</td>
			<td>Авто BMW X6</td>
			<td>Минск</td>
			<td>Минск</td>
			<td>02.11.2014</td>
			<td>09.11.2014</td>
			<td>10 000 руб.</td>
		</tr>
		<tr class="tbl1_tr_txt">
			<td>&nbsp;</td>
			<td>Аренда навигатора</td>
			<td>Минск</td>
			<td>Минск</td>
			<td>02.11.2014</td>
			<td>09.11.2014</td>
			<td>800 руб.</td>
		</tr>
		<tr class="tbl1_tr_txt">
			<td>&nbsp;</td>
			<td>Аренда навигатора</td>
			<td>Минск</td>
			<td>Витебск</td>
			<td>02.11.2014</td>
			<td>07.11.2014</td>
			<td>1200 руб.</td>
		</tr>
		<tr class="tbl1_tr_frt0">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tbl1_tr_frt">
			<td>01.11.2014</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="tbl1_total">Итого</td>
			<td class="tbl1_total_amount">12 000 руб.</td>
		</tr>
		<tr class="tbl1_tr_separator">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="tbl1_tr_h0">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tbl1_tr_h">
			<td>Заказ №679</td>
			<td>Авто Chrysler 300C</td>
			<td>Минск</td>
			<td>Минск</td>
			<td>02.11.2014</td>
			<td>09.11.2014</td>
			<td>10 000 руб.</td>
		</tr>
		<tr class="tbl1_tr_txt">
			<td>&nbsp;</td>
			<td>Аренда навигатора</td>
			<td>Минск</td>
			<td>Минск</td>
			<td>02.11.2014</td>
			<td>09.11.2014</td>
			<td>800 руб.</td>
		</tr>
		<tr class="tbl1_tr_frt0">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tbl1_tr_frt">
			<td>01.11.2014</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="tbl1_total">Итого</td>
			<td class="tbl1_total_amount">10 800 руб.</td>
		</tr>
		<tr class="tbl1_tr_separator">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="tbl1_tr_h0">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tbl1_tr_h">
			<td>Заказ №679</td>
			<td>Авто Chrysler 300C</td>
			<td>Минск</td>
			<td>Минск</td>
			<td>02.11.2014</td>
			<td>09.11.2014</td>
			<td>10 000 руб.</td>
		</tr>
		<tr class="tbl1_tr_txt">
			<td>&nbsp;</td>
			<td>Аренда навигатора</td>
			<td>Минск</td>
			<td>Минск</td>
			<td>02.11.2014</td>
			<td>09.11.2014</td>
			<td>800 руб.</td>
		</tr>
		<tr class="tbl1_tr_frt0">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="tbl1_tr_frt">
			<td>01.11.2014</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="tbl1_total">Итого</td>
			<td class="tbl1_total_amount">10 800 руб.</td>
		</tr>
	</table>
</div>