<div class="personal_area_settings_box">
	<div class="font13 history_page_menu"> <a href="#/personal_area_settings" class="hstr_pg_menu_item hstr_pg_menu_item_active"><span>Настройки</span></a> <a href="#/personal_area_orders" class="hstr_pg_menu_item"><span>Заказы <strong>(2)</strong></span></a> <a href="#/personal_area_history" class="hstr_pg_menu_item"><span>История</span></a> <a href="#/personal_area_favorites" class="hstr_pg_menu_item"><span>Избранное</span></a> </div>
	<div class="c_b"></div>
	<div class="pt1 order_history_title font14">Данные необходимые для заказа</div>
	<div class="settings_input_lin"> <span class="font17">ФИО:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="settings_input_lin"> <span class="font17">Дата рождения:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="settings_input_lin"> <span class="font17">Адрес проживания:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="settings_input_lin"> <span class="font17">Номер телефона:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="pt2 order_history_title font14">Настройки личного кабинета</div>
	<div class="settings_input_lin"> <span class="font17">E-mail:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="settings_input_lin"> <span class="font17">Новый пароль:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="settings_input_lin"> <span class="font17">Повторите пароль:</span>
		<input class="font13" name="" type="text"> </div>
	<div class="mt1 sq_fr1_bk">
		<div class="sq_fr1 squaredFour">
			<input type="checkbox" value="None" id="squaredFour1" name="check" />
			<label for="squaredFour1"></label>
		</div>
		<div class="font11 flt_l">Получать уведомления на этот адрес</div>
	</div>
	<div class="c_b"></div>
	<div class="sq_fr1_bk">
		<div class="sq_fr1 squaredFour">
			<input type="checkbox" value="None" id="squaredFour2" name="check" />
			<label for="squaredFour2"></label>
		</div>
		<div class="font11 flt_l">Получать новости и рассылку об акциях на этот адрес</div>
	</div>
	<div class="c_b"></div> <a href="#" class="settings_pg_send_btn font35 btn_book_car gradient" onClick="return false;"><span>Сохранить</span></a> </div>