<div class="question_box">
	<h1>Вопрос-ответ</h1>
	<div class="font15 question_pg_info_bk"> Здесь вы можете задать любой интересующий вас вопрос о нашей компании и наш менеджер ответит на него в кратчайшие сроки. </div>
	<div class="question_answer_bk">
		<div class="font41 question_bk"> Скажите, от чего зависит время доставки автомобиля? </div>
		<div class="font42">
			<div class="question_pg_date_bk">15 апр 2014</div>
			<div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star small_star0"></div>
			</div>
			<div class="font13 flt_r">Надежда, Санкт-Питербург</div>
			<div class="c_b"></div>
		</div>
		<div class="font43 answer_bk"> Время доставки автомобиля зависит от вашего местоположения. </div>
	</div>
	<div class="question_answer_bk">
		<div class="font41 question_bk"> Какие машины у вас есть?</div>
		<div class="font42">
			<div class="question_pg_date_bk">15 апр 2014</div>
			<div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star small_star0"></div>
			</div>
			<div class="font13 flt_r">Надежда, Санкт-Питербург</div>
			<div class="c_b"></div>
		</div>
		<div class="font43 answer_bk">Наш автопарк насчитывает более 50 современных автомобилей известных европейских,американских и японских марок. </div>
	</div>
	<div class="question_answer_bk">
		<div class="font41 question_bk">Скажите, пожалуйста, что делать, если gps-авигатор navi1111, арендованный у вас, упал в ванну в отеле и теперь не работает совсем?</div>
		<div class="font42">
			<div class="question_pg_date_bk">15 апр 2014</div>
			<div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star small_star0"></div>
			</div>
			<div class="font13 flt_r">Надежда, Санкт-Питербург</div>
			<div class="c_b"></div>
		</div>
		<div class="font43 answer_bk">Не волнуйтесь, для начала высушите его. По возвращению автомобиля вы должны будете оплатить полную стоимость навигатора в нашем офисе.</div>
	</div>
	<div class="question_num_pg_bk">
		<div class="dspl_inl_bk">
			<div class="personal_area_favorites_sldr sldr_news scroll_sldr">
				<div>
					<ul>
						<li> <a class="a_num_active a_num" href="#" onClick="return false;">1</a> </li>
						<li> <a class="a_num" href="#" onClick="return false;">2</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">3</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">4</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">5</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">6</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">7</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">8</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">9</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">10</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">11</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">12</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">13</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">14</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">15</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">16</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">17</a>
						</li>
					</ul>
				</div>
				<a class="a_back" href="#" onClick="return false;"></a>
				<a class="a_forward" href="#" onClick="return false;"></a>
				<div class="sldr_news_l disabled scroll_sldr_left_btn"></div>
				<div class="sldr_news_r scroll_sldr_right_btn"></div>
			</div>
			<div class="display_by font34">Показать по:</div> <a class="display_by_a_active display_by_a" href="#" onClick="return false;">10</a> <a class="display_by_a" href="#" onClick="return false;">30</a> <a class="display_by_a" href="#" onClick="return false;">50</a> <a class="display_by_a" href="#" onClick="return false;">все</a>
			<div class="c_b"></div>
		</div>
	</div>
</div>