<div class="rent_box wr_0 wr_0_show">
	<div class="wr_black_translucent"></div>
	<table class="wr_tb">
		<tr>
			<td>
				<div class="div_alert_1">
					<div class="div_alert_1_1">
						<div class="booking_a_car_title font14"> Бронирование автомобиля </div>
						<div class="font8 rent_pg_bk1"> <span class="rent_pg_txt1">Арендовать C:</span>
							<div class="rent_pg_drp_dwn_clndr drop_down_calendar">
								<input class="input_calendar" name="" type="text" value="27.10.14" onFocus="this.blur();">
								<div class="calendar_field_of_response">
									<div class="calendar_icon"></div>
								</div>
								<div class="c_b"></div>
								<div class="btn_drop_down_calendar"></div>
								<div class="calendar_container"></div>
							</div> <span class="rent_pg_txt1">До:</span>
							<div class="rent_pg_drp_dwn_clndr drop_down_calendar">
								<input class="input_calendar" name="" type="text" value="27.10.14" onFocus="this.blur();">
								<div class="calendar_field_of_response">
									<div class="calendar_icon"></div>
								</div>
								<div class="c_b"></div>
								<div class="btn_drop_down_calendar"></div>
								<div class="calendar_container"></div>
							</div>
						</div>
						<div class="rent_pg_calendar_container0">
							<div class="calendar_news_archive_title"> Архив новостей</div>
							<div class="rent_pg_calendar_container"></div>
						</div>
						<div class="font8 rent_pg_select_bk"> <span class="select_title">Город получения авто:</span>
							<div class="rent_pg_select_hidden div_select_hidden">
								<select class="select" name="">
									<option disabled selected>Выберите</option>
									<option value="Bobruisk">Бобруйск</option>
									<option value="Vitebsk">Витебск</option>
									<option value="Gomel">Гомель</option>
									<option value="Minsk">Минск</option>
									<option value="Mogilev">Могилёв</option>
									<option value="Mozir">Мозырь</option>
									<option value="Orsha">Орша</option>
								</select>
							</div>
							<div class="c_b"></div> <span class="select_title">Город возврата авто:</span>
							<div class="rent_pg_select_hidden div_select_hidden">
								<select class="select" name="">
									<option disabled selected>Выберите</option>
									<option value="Bobruisk">Бобруйск</option>
									<option value="Vitebsk">Витебск</option>
									<option value="Gomel">Гомель</option>
									<option value="Minsk">Минск</option>
									<option value="Mogilev">Могилёв</option>
									<option value="Mozir">Мозырь</option>
									<option value="Orsha">Орша</option>
								</select>
							</div>
							<div class="c_b"></div>
						</div>
						<div class="rent_pg_checkbox_bk">
							<div class="squaredFour">
								<input type="checkbox" value="None" id="squaredFour" name="check" />
								<label for="squaredFour"></label>
							</div>
							<div class="font25 squaredFour_txt">Доставка авто по указанному адресу (за дополнительную плату)</div>
						</div>
						<div class="rent_pg_submit_bk"> <a class="rent_pg_submit_a btn_to_order gradient btn_send" href="#/rent_accept"><span>Арендовать</span></a> </div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>