<div class="reviews_box">
	<h1><strong>Оставить отзыв</strong></h1>
	<div class="star_box">
		<input name="" type="hidden" value="5" />
		<div class="big_star"></div>
		<div class="big_star"></div>
		<div class="big_star"></div>
		<div class="big_star"></div>
		<div class="big_star"></div>
	</div>
	<div class="font8 rate_store">Поставьте оценку магазину</div>
	<div class="c_b"></div>
	<div class="reviews_pg_textarea_bk">
		<textarea class="reviews_pg_textarea font1" name="" cols="70" rows="5"></textarea>
		<div class="send_btn_bk"> <a href="#" class="btn_rent gradient" onClick="alert('Отправка данных. (В разработке)'); return false;"><span>Отправить</span></a> </div>
	</div>
	<h1><strong>Отзывы клиентов</strong></h1>
	<div class="reviews_pg_charts_bk">
		<div class="recall_lin">
			<div class="middle_star_group">
				<div class="middle_star"></div>
				<div class="middle_star"></div>
				<div class="middle_star"></div>
				<div class="middle_star"></div>
				<div class="middle_star"></div>
			</div>
			<div class="number_of_reviews">304</div>
			<div class="number_percent">42%</div>
			<div class="chart_bk">
				<div class="chart" style="width: 80%;"></div>
			</div>
			<div class="c_b"></div>
		</div>
		<div class="recall_lin">
			<div class="middle_star_group">
				<div class="middle_star"></div>
				<div class="middle_star"></div>
				<div class="middle_star"></div>
				<div class="middle_star"></div>
			</div>
			<div class="number_of_reviews">107</div>
			<div class="number_percent">35%</div>
			<div class="chart_bk">
				<div class="chart" style="width: 35%;"></div>
			</div>
			<div class="c_b"></div>
		</div>
		<div class="recall_lin">
			<div class="middle_star_group">
				<div class="middle_star"></div>
				<div class="middle_star"></div>
				<div class="middle_star"></div>
			</div>
			<div class="number_of_reviews">81</div>
			<div class="number_percent">21%</div>
			<div class="chart_bk">
				<div class="chart" style="width: 21%;"></div>
			</div>
			<div class="c_b"></div>
		</div>
		<div class="recall_lin">
			<div class="middle_star_group">
				<div class="middle_star"></div>
				<div class="middle_star"></div>
			</div>
			<div class="number_of_reviews">7</div>
			<div class="number_percent">2%</div>
			<div class="chart_bk">
				<div class="chart" style="width: 2%;"></div>
			</div>
			<div class="c_b"></div>
		</div>
		<div class="recall_lin">
			<div class="middle_star_group">
				<div class="middle_star"></div>
			</div>
			<div class="number_of_reviews">0</div>
			<div class="number_percent">1%</div>
			<div class="chart_bk">
				<div class="chart" style="width: 1%;"></div>
			</div>
			<div class="c_b"></div>
		</div>
	</div>
	<div class="user_rating_bk">
		<div class="font41 question_bk">Отличный сервис! Спасибо вам огромное! Спасиибоо!</div>
		<div class="font42">
			<div class="question_pg_date_bk">15 апр 2014</div>
			<div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star small_star0"></div>
			</div>
			<div class="font13 flt_r">Надежда, Санкт-Питербург</div>
			<div class="c_b"></div>
		</div>
	</div>
	<div class="user_rating_bk">
		<div class="font41 question_bk">Отличный сервис! Спасибо вам огромное! Спасиибоо!</div>
		<div class="font42">
			<div class="question_pg_date_bk">15 апр 2014</div>
			<div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star small_star0"></div>
			</div>
			<div class="font13 flt_r">Надежда, Санкт-Питербург</div>
			<div class="c_b"></div>
		</div>
	</div>
	<div class="user_rating_bk">
		<div class="font41 question_bk">Отличный сервис! Спасибо вам огромное! Спасиибоо! Очень понравилось! Классные машины вообще супер как круто!А вот цвет машины не очень,но ничего, не в нем суть</div>
		<div class="font42">
			<div class="question_pg_date_bk">15 апр 2014</div>
			<div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star"></div>
				<div class="small_star small_star0"></div>
			</div>
			<div class="font13 flt_r">Надежда, Санкт-Питербург</div>
			<div class="c_b"></div>
		</div>
	</div>
	<div class="question_num_pg_bk">
		<div class="dspl_inl_bk">
			<div class="personal_area_favorites_sldr sldr_news scroll_sldr">
				<div>
					<ul>
						<li> <a class="a_num_active a_num" href="#" onClick="return false;">1</a> </li>
						<li> <a class="a_num" href="#" onClick="return false;">2</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">3</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">4</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">5</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">6</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">7</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">8</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">9</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">10</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">11</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">12</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">13</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">14</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">15</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">16</a>
						</li>
						<li> <a class="a_num" href="#" onClick="return false;">17</a>
						</li>
					</ul>
				</div>
				<a class="a_back" href="#" onClick="return false;"></a>
				<a class="a_forward" href="#" onClick="return false;"></a>
				<div class="sldr_news_l disabled scroll_sldr_left_btn"></div>
				<div class="sldr_news_r scroll_sldr_right_btn"></div>
			</div>
			<div class="display_by font34">Показать по:</div> <a class="display_by_a_active display_by_a" href="#" onClick="return false;">10</a> <a class="display_by_a" href="#" onClick="return false;">30</a> <a class="display_by_a" href="#" onClick="return false;">50</a> <a class="display_by_a" href="#" onClick="return false;">все</a>
			<div class="c_b"></div>
		</div>
	</div>
</div>