<div class="services_box">
	<div class="font39 news_title">Аренда автомобильной электроники:</div>
	<div class="services_sub_bk0">
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="c_b"></div>
	</div>
	<div class="font39 news_title">Аренда автомобильныхкомплектующих</div>
	<div class="services_sub_bk0">
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="services_sub_bk">
			<div class="sub_bk_title"> Навигатор Navigator111 </div> <img src="images/personal_area_orders_page/1.jpg" alt="img">
			<div class="sub_bk_txt"> Цена в сутки: <strong>500р.</strong>
				<br> Цена в неделю: <strong>2500р.</strong>
			</div> <a href="#" class="btn_st1 btn_rent gradient" onClick="return false;"><span>Арендовать</span></a> </div>
		<div class="c_b"></div>
	</div>
</div>