<div class="stock_box">
	<h1 class="stock_page_title">Акции</h1>
	<div>
		<div class="font17 stock_page_img_title">Скидка -10% на аренду семейных универсалов</div>
		<div class="bk_stock_page_big_img"> <img src="images/stock_page/1.jpg" alt="img">
			<div class="font18 stock_page_txt1">-10% на универсалы</div>
		</div>
		<div class="txt_al_r bk_stock_pg_details"> <a class="a_stock_pg_details font19" href="#" onClick="return false;"><span class="show_stock_pg_details">Подробнее</span><span class="close_stock_pg_details">Свернуть</span><i></i></a>
			<div class="specialsbk_bk0">
				<h1 class="specials_title">Спецпредложения</h1>
				<div class="bk_specials">
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="c_b"></div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="font17 stock_page_img_title">Скидка -10% на аренду семейных универсалов</div>
		<div class="bk_stock_page_big_img"> <img src="images/stock_page/1.jpg" alt="img">
			<div class="font18 stock_page_txt1">-10% на универсалы</div>
		</div>
		<div class="txt_al_r bk_stock_pg_details"> <a class="a_stock_pg_details font19" href="#" onClick="return false;"><span class="show_stock_pg_details">Подробнее</span><span class="close_stock_pg_details">Свернуть</span><i></i></a>
			<div class="specialsbk_bk0">
				<h1 class="specials_title">Спецпредложения</h1>
				<div class="bk_specials">
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="bk_specials_sub"> <img src="images/stock_page/details/1.jpg" alt="img">
						<div class="stock_pg_label font20 gradient">-20%</div>
						<div class="font21 bk_name_specials">Chevrolet Cruze</div>
						<div class="stock_page_txt2 font23">Класс</div>
						<div class="stock_page_txt3 font24">Эконом</div>
						<div class="stock_page_txt2 font23">Тип кузова</div>
						<div class="stock_page_txt3 font24">Седан</div>
						<div class="stock_page_txt2 font23">Кол-во мест</div>
						<div class="stock_page_txt3 font24">4-1</div>
						<div class="stock_page_txt2 font23">Стоимость</div>
						<div class="stock_page_txt3 font24">от 1.200 руб</div>
						<div class="c_b"></div>
						<div class="bk_btn_book_car">
							<div class="grey_line1_btn_book_car"></div>
							<div class="grey_line2_btn_book_car"></div> <a href="#" class="btn_book_car font22 gradient" onClick="return false;"><span>Заказать авто</span></a> </div>
					</div>
					<div class="c_b"></div>
				</div>
			</div>
		</div>
	</div>
</div>